<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Journal</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
  


<!-- JQUERRY foreach-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript"  src="js/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>


<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">




 <style>

    html,
    body,
    header {
      height: 100%;
    }
  
    @media (max-width: 740px) {
      html,
      body,
      header {
        height: 1000px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header {
        height: 650px;
      }
    }
  
    .top-nav-collapse {
      background-color: #3f51b5 !important;
    }
  
    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }
  
    @media (max-width: 991px) {
     .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
     }
    }
    
    .rgba-gradient {
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    }
  
    .card {
      background-color: rgba(126, 123, 215, 0.2);
    }
  
    .md-form label {
      color: #ffffff;
    }
  
    h6 {
      line-height: 1.7;
    }
  
   
  </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <strong>MDB</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal12">Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/build_post">Build post</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        
      </div>
      

    </nav>
    <!-- Navbar -->



  </br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-sm-2">

      </div>
      <div class="col-lg-8 col-sm-8">
        <div id="id_container_journal">


          
        </div> 
      </div>
      <div class="col-lg-2 col-sm-2 ">
        
      </div>
    </div>
  </div>


<!--JOURNAL NEWS-->
<script>

  function journal_news(){
  
  //AFFICHER NEWS
  function afficherNews(tableauNews) {
      tableauNews.forEach(function (news) {

        var div_class_container_my_5 = document.createElement('div');
        div_class_container_my_5.setAttribute('class', 'container my-5');
        id_container_journal.appendChild(div_class_container_my_5);

        var balise_section = document.createElement('section');
        balise_section.setAttribute('class', 'magazine-section dark-grey-text');
        div_class_container_my_5.appendChild(balise_section);

        var balise_footer = document.createElement('footer');
        balise_section.appendChild(balise_footer);

        var div_class_rounded_bottom = document.createElement('div');
        div_class_rounded_bottom.setAttribute('class', 'rounded-bottom btn-elegant lighten-3 text-center pt-3');
        balise_footer.appendChild(div_class_rounded_bottom);


        var div_class_container_fluid = document.createElement('div');
        div_class_container_fluid.setAttribute('class', 'container-fluid');
        div_class_rounded_bottom.appendChild(div_class_container_fluid);

        var div_class_row = document.createElement('div');
        div_class_row.setAttribute('class', 'row');
        div_class_container_fluid.appendChild(div_class_row);

        var div_class_col_sm_1 = document.createElement('div');
        div_class_col_sm_1.setAttribute('class', 'col-sm-1');
        div_class_row.appendChild(div_class_col_sm_1);

        var img_class_rounded_circle = document.createElement('img');
        img_class_rounded_circle.setAttribute('class', 'rounded-circle z-depth-1 img-fluid');
        img_class_rounded_circle.setAttribute('src', 'images/icon_anonymous.png');
        img_class_rounded_circle.setAttribute('style', 'width: 50px; min-width: 50px; min-height: 50px; height: 50px;');
        div_class_col_sm_1.appendChild(img_class_rounded_circle);

        var div_class_col_sm_9 = document.createElement('div');
        div_class_col_sm_9.setAttribute('class', 'col-sm-9');
        div_class_row.appendChild(div_class_col_sm_9);

        var p_lead = document.createElement('p');
        p_lead.setAttribute('class', 'lead');
        div_class_col_sm_9.appendChild(p_lead);

        var txt_p_lead = document.createTextNode('By: ');
        p_lead.appendChild(txt_p_lead);

        var balise_a = document.createElement('a');
        balise_a.setAttribute('href', '/profile');
        p_lead.appendChild(balise_a);
        

        var txt_balise_a = document.createTextNode(news.name_chaine);
        balise_a.appendChild(txt_balise_a);

        var div_class_col_sm_2 = document.createElement('div');
        div_class_col_sm_2.setAttribute('class', 'col-sm-2');
        div_class_row.appendChild(div_class_col_sm_2);

        var btn_class_aqua_gradient = document.createElement('button');
        btn_class_aqua_gradient.setAttribute('class', 'btn aqua-gradient');
        btn_class_aqua_gradient.setAttribute('type', 'button');
        div_class_col_sm_2.appendChild(btn_class_aqua_gradient);

        var  txt_btn_aqua = document.createTextNode('Suivre');
        btn_class_aqua_gradient.appendChild(txt_btn_aqua);

        var div_class_row_2 = document.createElement('div');
        div_class_row_2.setAttribute('class','row');
        balise_section.appendChild(div_class_row_2);

        var div_class_col_lg_12 = document.createElement('div');
        div_class_col_lg_12.setAttribute('class', 'col-lg-12 col-md-12 mb-4');
        div_class_row_2.appendChild(div_class_col_lg_12);

        var div_class_single_news = document.createElement('div');
        div_class_single_news.setAttribute('class', 'signle-news');
        div_class_col_lg_12.appendChild(div_class_single_news);

        

       
          //iframe dans CONTAINER VIDEO
          var video_journal = document.createElement('div');
          video_journal.setAttribute('id', 'video_journal');
          video_journal.setAttribute('style', 'height: 400px ');
          div_class_single_news.appendChild(video_journal);

         var video_insert = "<iframe id='iframe' style='width:100%; height:100%;' src='https://www.youtube.com/embed/6uk1d9Els-A?rel=0&amp;autoplay=1&mute=1&autoplay=1&loop=1&amp;hl=fr&amp;cc_lang_pref=fr&amp;cc_load_policy=1' frameborder='0' allow='accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen ></iframe>";
         video_journal.innerHTML=video_insert;
        

         var div_class_new_data = document.createElement('div');
         div_class_new_data.setAttribute('class', 'news-data d-flex justify-content-between');
         div_class_single_news.appendChild(div_class_new_data);

         var a_class_deep_orange = document.createElement('a');
         a_class_deep_orange.setAttribute('class', 'deep-orange-text');
         a_class_deep_orange.setAttribute('href', '#!');
         div_class_new_data.appendChild(a_class_deep_orange);

         var h6_class_font_weight = document.createElement('h6');
         h6_class_font_weight.setAttribute('class', 'font-weight-bold');
         a_class_deep_orange.appendChild(h6_class_font_weight);

         var i_class_fas_fa_utensils = document.createElement('i');
         i_class_fas_fa_utensils.setAttribute('class', 'fas fa-utensils pr-2');
         h6_class_font_weight.appendChild(i_class_fas_fa_utensils);

         var txt_h6 = document.createTextNode('Catégorie: ' + news.categorie);
         h6_class_font_weight.appendChild(txt_h6);

         var p_class_font_weight = document.createElement('p');
         p_class_font_weight.setAttribute('class','font-weight-bold dark-grey-text');
         div_class_new_data.appendChild(p_class_font_weight);

         var i_class_far_fa_eye = document.createElement('i');
         i_class_far_fa_eye.setAttribute('class', 'far fa-eye pr-2');
         p_class_font_weight.appendChild(i_class_far_fa_eye);

         var txt_p_class_font = document.createTextNode('3456');
         p_class_font_weight.appendChild(txt_p_class_font);

         var p_class_font_weight_2 = document.createElement('p');
         p_class_font_weight_2.setAttribute('class', 'font-weight-bold dark-grey-text');
         div_class_new_data.appendChild(p_class_font_weight_2);


         var i_class_far_fa_clock = document.createElement('i');
         i_class_far_fa_clock.setAttribute('class', 'far fa-clock pr-2');
         p_class_font_weight_2.appendChild(i_class_far_fa_clock);

         var txt_p_class_font_2 = document.createTextNode(news.date_sortie);
         p_class_font_weight_2.appendChild(txt_p_class_font_2);

         var h3_class_font_weight = document.createElement('h3');
         h3_class_font_weight.setAttribute('class', 'font-weight-bold dark-grey-text mb-3');
         div_class_single_news.appendChild(h3_class_font_weight);
         
         var a_title = document.createElement('a');
         h3_class_font_weight.appendChild(a_title);

         txt_a_title = document.createTextNode(news.titre_article);
         a_title.appendChild(txt_a_title);

         var p_class_dark_grey = document.createElement('p');
         p_class_dark_grey.setAttribute('class', 'dark-grey-text');
         div_class_single_news.appendChild(p_class_dark_grey);

         var txt_p_class_dark_grey = document.createTextNode(news.text_presentation);
         p_class_dark_grey.appendChild(txt_p_class_dark_grey);



         var div_class_d_flex_justify = document.createElement('div');
         div_class_d_flex_justify.setAttribute('class', 'd-flex justify-content-between');
         div_class_single_news.appendChild(div_class_d_flex_justify);

         var div_class_col_11 = document.createElement('div');
         div_class_col_11.setAttribute('class', 'col-11 text-truncate pl-0 mb-lg-3');
         div_class_d_flex_justify.appendChild(div_class_col_11);


        var a_class_dark_grey = document.createElement('a');
        a_class_dark_grey.setAttribute('href', news.url_post);
        a_class_dark_grey.setAttribute('class', 'font-weight-bold dark-grey-text mb-3');
        div_class_col_11.appendChild(a_class_dark_grey);

        var txt_into_a_class_dark = document.createTextNode('Voir les réaction');
        a_class_dark_grey.appendChild(txt_into_a_class_dark);


        var a_link_i = document.createElement('a');
        a_link_i.setAttribute('href', news.url_post);
        div_class_d_flex_justify.appendChild(a_link_i);
        

        var i_class_fas_fa_angle = document.createElement('i');
        i_class_fas_fa_angle.setAttribute('class', 'fas fa-angle-double-right');
        a_link_i.appendChild(i_class_fas_fa_angle);

      

       












         








         



















        





        















  
  
      })};
  
      
      
      $.get("http://localhost:8080/total", function (response, error) {
         
          console.log(error);
          console.log(response);
       afficherNews(response);
  });
  }
  
    journal_news();
  
  
  </script>
        

   

  <script>new WOW().init();</script>




  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>


   <!-- JQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>



   
    <!--FUNCTION AFFICHER POST -->
    <script src="./js/FOREACH/journal_function_afficher_total.js"> </script>    
    <script src="./js/FOREACH/journal_function_afficher_input_utilisateur.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_continent.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_pays.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_region.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_departement.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_ville.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_economie.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_sport.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_politique.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_fais_divers.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_evenement.js"> </script>

</body>
</html>