<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Journal</title>

    
  <!-- JQUERRY foreach-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript"  src="js/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>




  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
  



<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


 <style>

    html,
    body
     {
      height: 100%;
    }
  
    @media (max-width: 740px) {
      html,
      body {
        height: 1000px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body {
        height: 650px;
      }
    }
  
    .top-nav-collapse {
      background-color: #3f51b5 !important;
    }
  
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  
    @media (max-width: 991px) {
     .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
     }
    }
    
    .rgba-gradient {
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    }
  
    .card {
      background-color: rgba(126, 123, 215, 0.2);
    }
  
    .md-form label {
      color: #ffffff;
    }
  
    h6 {
      line-height: 1.7;
    }
  
   
  </style>

  </head>
  <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <strong>MDB</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal12">Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/price">Abonnements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/build_post">Build post</a>
            </li>
            
          </ul>
            <form class="form-inline" action="/journal12"  method="post">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="hello_world" name="filter">
            </div>
          </form>
          
        </div>
       
      </div>
      

    </nav>
    <!-- Navbar -->
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    </br>




    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

  <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-2 col-sm-2 col-md-2" ></br></br></br></br></br>

         <!--AFFICHER:[Résultat pour: + value utilisateur]  avec jquery function-->
         <p id="color_p">Résultat pour:</p>
                                      
         <div id="color_name" class="text-success">
           <p><%=name%></p>
         </div>

         <!--AFFICHER [Catégorie:] avec jquery function VIA LE FOREACH-->
         <p id="p_txt_catégorie"></p>
         <!-- afficher [categorie value] avec jquery function VIA LE FOREACH-->
         <p id="p_catégorie" class="text-info"></p>
         
          
             <button type="button" class="btn btn-block btn-elegant" onclick="economie()" id="btn_categorie">Economie</button>
       
             <button type="button" class="btn btn-block btn-elegant" onclick="politique()" id="btn_categorie">Politique</button>
        
             <button  type="button" class="btn btn-block btn-elegant" onclick="evenement()" id="btn_categorie">Event</button>
        
             <button type="button" class="btn btn-block btn-elegant"  onclick="sport()" id="btn_categorie">Sport</button>
        
             <button type="button" class="btn btn-block btn-elegant"  onclick="fais()" id="btn_categorie">Fais Divers</button>
          
          
                          
              
     
      </div>
      <div class="col-lg-8 col-sm-8 col-md-8">
        <div id="id_container_journal">

          
          
        </div> 
      </div>
      <div class="col-lg-2 col-sm-2 col-md-8">
        


      </div>
    </div>
  </div>


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->




   <!-- JQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>




  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>


   
    <!--FUNCTION AFFICHER POST -->
    <script src="./js/FOREACH/journal_function_afficher_total.js"> </script>    
    <script src="./js/FOREACH/journal_function_afficher_input_utilisateur.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_continent.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_pays.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_region.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_departement.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_ville.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_economie.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_sport.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_politique.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_fais_divers.js"> </script>
    <script src="./js/FOREACH/journal_function_afficher_evenement.js"> </script>




</body>
</html>